In [28]:
import pandas as pd
import numpy as np

In [29]:
arr1 = np.random.randint(0,100,(3,4))
df1 = pd.DataFrame(arr1, columns=["a","b","c","d"])
arr2 = np.random.randint(0,100,(3,4))
df2 = pd.DataFrame(arr2, columns=["e","f","g","h"])

In [30]:
df1

    a   b   c   d
0  52  62  33  80
1  51   9  31  88
2  80   9  56   1

In [31]:
df2

    e   f   g   h
0  84  75  21  74
1  63   1  52  71
2  37  67  55  74

In [32]:
pd.concat([df1,df2])

      a     b     c     d     e     f     g     h
0  52.0  62.0  33.0  80.0   NaN   NaN   NaN   NaN
1  51.0   9.0  31.0  88.0   NaN   NaN   NaN   NaN
2  80.0   9.0  56.0   1.0   NaN   NaN   NaN   NaN
0   NaN   NaN   NaN   NaN  84.0  75.0  21.0  74.0
1   NaN   NaN   NaN   NaN  63.0   1.0  52.0  71.0
2   NaN   NaN   NaN   NaN  37.0  67.0  55.0  74.0

In [33]:
pd.concat([df1,df2],axis=1)

    a   b   c   d   e   f   g   h
0  52  62  33  80  84  75  21  74
1  51   9  31  88  63   1  52  71
2  80   9  56   1  37  67  55  74

In [36]:
df1.append(df2)

AttributeError: 'DataFrame' object has no attribute 'append'