In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

### series

In [4]:
ser=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
import numpy as np
y=np.array([1,2,3,4,5])
ser1=pd.Series(y,index=["a","b","c","d","e"])
ser1

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [9]:
ser.values

array([1, 2, 3, 4, 5], dtype=int64)

In [10]:
ser1.values

array([1, 2, 3, 4, 5])

In [11]:
ser2={"one":1,"two":2,"three":3}
z=pd.Series(ser2)
z

one      1
two      2
three    3
dtype: int64

### Dataframe

In [13]:
df=pd.DataFrame([1,2,3,4,5])
df

   0
0  1
1  2
2  3
3  4
4  5

In [15]:
df=pd.DataFrame([10,20,30,40,50],index=["a","b","c","d","e"],columns=["marks"])
df

   marks
a     10
b     20
c     30
d     40
e     50

In [21]:
data=[{"a":10,"b":20},{"a":50,"b":60,"c":70}]
df=pd.DataFrame(data)
type(df)

pandas.core.frame.DataFrame

In [22]:
df

    a   b     c
0  10  20   NaN
1  50  60  70.0