In [3]:
name="swati"

for i in name:
    print(i)
else:
    print("end of loop")

s
w
a
t
i
end of loop

In [4]:
stud=['Swati','Anjali','Trupti','Vaibhavi','ajay','shruti','Rahul']

for i in stud:
    print(i)

Swati
Anjali
Trupti
Vaibhavi
ajay
shruti
Rahul

In [5]:
for num in range(6):
    if num==4:
        break
    print(num)

0
1
2
3

In [6]:
for num in range(6):
    if num==4:
        continue
    print(num)

0
1
2
3
5

In [7]:
for num in range(6):
    if num<=4:
        pass

In [8]:
for num in range(6):
    if num<=4:
        print(num)

0
1
2
3
4

In [8]:
fruit=['apple','banana','orange','kiwi']

for i in fruit:
    if len(fruit)<5:
        print("short name fruit:",fruit)

short name fruit: ['apple', 'banana', 'orange', 'kiwi']
short name fruit: ['apple', 'banana', 'orange', 'kiwi']
short name fruit: ['apple', 'banana', 'orange', 'kiwi']
short name fruit: ['apple', 'banana', 'orange', 'kiwi']

In [10]:
for i in range(0,10,2):
    print(i,end=",")

0,2,4,6,8,

##### even and odd numbers:

In [17]:
for i in range(2,21,2):
    print(i,end=",")

2,4,6,8,10,12,14,16,18,20,

In [18]:
for i in range(1,21,2):
    print(i,end=",")

1,3,5,7,9,11,13,15,17,19,

In [17]:
info=[]       
num_inputs = int(input("Enter the number of inputs: "))        
for i in range(num_inputs):
    emp_name=input("Enter name : ")
    emp_id=input("enter employee id: ")
    emp_progress=input("enter progress: ")
    
info.append(num_inputs)

Enter the number of inputs: 2
Enter name 1: swati
enter employee id: fds
enter progress: dfsa
Enter name 2: fds
enter employee id: fdsa
enter progress: fdsa

In [18]:
info

[2]

# Patterns:

In [11]:
#square pattern

size=5

for i in range(size):
    for j in range(size):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [13]:
#triangel pattern

size=5

for i in range(size):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [19]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [16]:
# reverse triangel pattern

size=5

for i in range(size,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [21]:
size=5
for i in range(size+1):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [25]:
size=5
for i in range(size+1):
    for i in range(i):
        print("1",end="")
    print()

1
11
111
1111
11111